* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100vw;
    height: 100vh;
    background-color: beige;
}

.board {
    width: 50%;
    height: 80%;
    background-color: brown;
    margin: auto;
    display: grid;
    grid-row-gap: 3px;
}

.arrows {
    display: grid;
    width: 50%;
    height: 30px;
    margin: 0 auto;
}

.arrow {
    width: auto;
    height: 80%;
    align-self: center;
    background-image: url(./downArrow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.block {
    width: 100%;
    height: 100%;
    border-radius: 80%;
    background-color: yellow;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    margin: auto;
}
